.jumbotron {
    background-image: url("images/bacteria.jpeg");
    background-size: 100% 100%;
    text-align: center;
    color: rgb(142, 184, 209);
    border-style:solid;
    border-color:rgb(0, 255, 234);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.well {
    background-color: #f8ba5e !important; 
}
